# only put tools that are needed for tests (e.g., `bowtie-build` is needed to make sure
# that bowtie-index worked), not for the wrappers themselves, which should have
# their own environment.yml files.
bowtie2
gffutils
hisat2
lcdblib
pysam
pytest >=2.9.2
samtools
snakemake
